.bg-images {
    width: 100%;
    /* background: url(../../../../assets/images/background.jpg); */
    background:linear-gradient(45deg, black, transparent), url(../../../../assets/images/background.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}   